$dark-blue: hsl(240, 38%, 20%); 
$greyish-blue: hsl(240, 18%, 77%);
$color-pal: (#006d77,#83c5be,#edf6f9,#ffddd2,#D45F35);
$h1-font: 'Comfortaa', sans-serif;
$body-font: 'Montserrat', sans-serif;
$img-size: 540px;
$chev-size: 20px;
$bkrnd-size: 900px;
$column-size: 30px;
$h1-height: 15vh;
$bord-rad: 5px;
$font-size: 20px;